extends layout

block append javascripts
	script(src='javascripts/home.js')

block content	
	ul.cards	
		li
			div.flip
				div.card
					div.face.front
						img(src="/images/bbq.png")
					div.face.back
						h1 awesome taint
		li
			div.flip
				div.card
					div.face.front					
						img(src="/images/bd30.png")
					div.face.back
						h1 balls!
		li
			div.flip
				div.card
					div.face.front
						img(src="/images/bbq.png")
					div.face.back
						h1 awesome taint
		li
			div.flip
				div.card
					div.face.front					
						img(src="/images/bd30.png")
					div.face.back
						h1 balls!
		li
			div.flip
				div.card
					div.face.front
						img(src="/images/bbq.png")
					div.face.back
						h1 awesome taint
		li
			div.flip
				div.card
					div.face.front					
						img(src="/images/bd30.png")
					div.face.back
						h1 balls!
		li
			div.flip
				div.card
					div.face.front
						img(src="/images/bbq.png")
					div.face.back
						h1 awesome taint
		li
			div.flip
				div.card
					div.face.front					
						img(src="/images/bd30.png")
					div.face.back
						h1 balls!
		li
			div.flip
				div.card
					div.face.front
						img(src="/images/bbq.png")
					div.face.back
						h1 awesome taint
		li
			div.flip
				div.card
					div.face.front					
						img(src="/images/bd30.png")
					div.face.back
						h1 balls!																								